fabric-artifacts/PL - Load AgilePoint to Bronze Layer.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "partitionOption": "None",
            "queryTimeout": "00:03:00",
            "isolationLevel": "ReadCommitted",
            "datasetSettings": {
              "type": "AzureSqlTable",
              "typeProperties": {
                "schema": "MSP",
                "table": "ENEConsumption__u",
                "database": "AP_Dev_DataEntities_DB"
              },
              "schema": [],
              "externalReferences": {
                "connection": "43f1d859-afc8-4d72-aca0-fd7a802c9e60"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": true
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "lh_bronze_raw/mssql/agilepoint/AP_Dev_DataEntities_DB_MSP_ENEConsumption__u",
                  "fileName": {
                    "value": "@concat(variables('etlstarttimestamp'),'.parquet')",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "lh_bronze_landing",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "4db325a7-9c2c-a814-40d9-f8f9b914bd3d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "dependsOn": [
          {
            "activity": "Set etlstarttimestamp",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "etlstarttimestamp",
          "value": {
            "value": "@convertFromUtc(utcNow(),'GMT Standard Time')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set etlstarttimestamp",
        "dependsOn": []
      }
    ],
    "variables": {
      "etlstarttimestamp": {
        "type": "String"
      }
    }
  }
}